*{
margin: 0;
box-sizing: border-box;
}

.searchBar {
width: 100vw;
background-color: #0064EB;
display: flex;
align-items: center;
}

.searchBar_logo{
padding: 16px 16px 16px 41px;
}


.search {
width: 500px;
height: 40px;
background-color: #FFFFFF;
border-radius: 6px;
display: flex;
align-items: center;
}

.search_btn{
width: 24px;
height: 24px;
background: none;
padding: 0;
margin-left: 14px;
border: none;
cursor: pointer;
align-items: center;
}

.search_input{
height: 24px;
border: 0;
outline: none;
width: 90%;
}

@media screen and (min-width:360px) and (max-width:1040px) {
    .search{
        width: 200px;
        margin: 20px;
    }
}
