.user_page{
    height: calc(100vh - 76px);
    display: flex;
    flex-direction: row;
    flex-shrink: 1 1;
}

@media screen and (min-width:360px) and (max-width:1040px) {
    .user_page{
        flex-direction: column;
    }
}